.container,
.innerlist {
  color: aqua;
  font-size: 20px;
  text-align: center;
  /* padding: "100px"; */
  /* align-content: "right"; */
}
.button,
.inputarea {
  margin-left: 30px;
  block-size: 20;
}
.divv {
  text-align: center;
}
.inputarea {
  width: 50%;
}
.list {
  text-align: center;
  margin-top: 20px;
  list-style-type: none;
}
.innerlist {
  margin-top: 10px;
  text-align: center;
  color: darkorange;
}
.header {
  margin-top: 100px;
  margin-bottom: 50px;
  color: blue;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
.confirm_area {
  overflow-wrap: break-word;
  color: darkred;
  font-weight: bolder;
  font-size: 22px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
